/* hero stuff */
#hero {
	width: 100%;
	height: 650px;
	background: url("/img/local-buds-mockup1.png") no-repeat center;
	background-size: cover;

}

.flexbox {
    padding-top: 200px;
}

.hero-text {
	font-size: 50px;
}

.hero-info {
	top: 10px;
	font-size: 17px;
	color: grey;
	font-weight: 200;
}

.hero-info-container {
	margin-top: 30px; 
}
.btn-default {
	border-color: #80e0a2;
	border-width: 2px;
	margin-top: 50px;
	font-size: 17px;
	color: #46d278;
	padding-left: 40px;
	padding-right: 40px;
}

.btn-default:hover {
	border-color: #45a667;
	background-color: whitesmoke;
	color: #45a667;
}

/* navbar */
.navbar {
	margin-bottom: 0px;
	height: 60px;
	background-color: rgba(255,255,255,0.2);
	border-radius: 0;
}

.navbar-header {
	padding: 3px 100px;
}

.navbar-right{
	padding: 3px 100px;
}

.navbar-default .navbar-nav>li>a {
	color: black;
	font-size: 16px;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #45a667;
	text-decoration: underline;
}

.navbar-default .navbar-brand {
	color: black;
	font-weight: 700;
	font-size: 20px;
}

.navbar-default .navbar-brand:hover {
	color: #45a667;
	text-decoration: underline;
}

/* weed div */
.weed {
	max-height: 150px;
	width: auto; 
	padding-bottom: 10px;
	margin-top: 10px;
	position: relative;
	display: block;
}

.weed-types{
	background-color: #f0f0f0;
	height: 500px;
}

.weed-text{
	display: block;
	text-align: center;
    margin-right: 40px;
    border-style: solid;
    border-color: green;
    border-top: none;
    border-left: none;
    border-right: none;
    border-width: 2px;
    font-size: 16px;

}

.weed-types:before {
	left:;
	width: 50%;
}

.weed-div {
	left: 10%;
}

.weed-paragraph {
	position: relative;
	display: block;
}

.weed2 {
	padding-top: 10px;
    position: relative;
    display: inline-block;

}

.weed3 {
	padding-top: 10px;
    position: relative;
    display: inline-block;

}

.weed4 {
	padding-top: 10px;
    position: relative;
    display: inline-block;

}

/* strain carousel */

.strain-gallery {
	height: 400px;
	width:auto;
}

/* scroll to top button */
#scroll {
    position:fixed;
    right:10px;
    bottom:10px;
    cursor:pointer;
    width:50px;
    height:50px;
    background-color:#45a667;
    display:none;
    -webkit-border-radius:60px;
    -moz-border-radius:60px;
    border-radius:60px
}
#scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#ffffff;
}
#scroll:hover {
    background-color:#e84a6b;
    opacity:1;filter:"alpha(opacity=100)";
    -ms-filter